.card {
  width: 250px;
  box-shadow: none;
}
.delivery-content {
  display: inline-flex;
  align-items: center;
  line-height: 5px;
  h1 {
    font-weight: bold;
    padding-bottom: $delivery-component_padding-bottom;
  }
  i{
    display: flex;
    align-items: stretch;
  }
  p {
    align-self: center;
  }
  a {
    display: block;
    margin: -10px 48px;
  }
}
