.delivery-component {
  padding: 10px 0;
  h1 {
    font-weight: bold;
    padding-bottom: $delivery-component_padding-bottom;
  }
  i{
    display: flex;
    align-items: stretch;
  }
  p {
    align-self: center;
  }
  a {
    display: block;
    margin: -10px 48px;
  }
}
