.glyph {
  font-family: "dcg-icons";
  font-style: normal;
}
.tv-icon::before {
  content: "\e611";
  font-size: 1.5em;
}
.deal-icon::before {
  content: "\e91d";
  font-size: 1.5em;
}

a {
  margin: 0;
}
.product-summary-component {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
  transition: border 0.2s ease 0s;
  &.product-summary-component:hover {
    border: 1px solid #4c12a1;
  }
  i {
    padding: 5px;
  }
  .sticker {
    position: absolute;
    border: 2px solid orangered;
    height: 60px;
    width: 60px;
    margin: 0;
    top: 0;
    left: 0;
  }
  .product-summary {
    display: flex;
  }
  .product {
    display: flex;
    flex-direction: column;
  }
  .product-name-link {
    color: #213038;
    margin: 0;
  }

  .product-name {
    width: 100%;
    padding-left: 60px;
    font-size: 13px;
    color: #213038;
  }

  .product-info {
    padding: 0 15px;
    .img-guarantee {
      display: flex;
      justify-content: center;
    }
    .product-info-link {
      display: flex;
      align-items: center;
      color: black;
      font-size: 13px;
      margin: 0 0 10px;
    }
    .product-info-link:hover {
      color: #4c12a1;
      text-decoration: none;
    }
    .product-item-description {
      font-size: 13px;
      color: #222222;
      font-weight: 600;
      li {
        list-style: inside;
      }
    }
    .product-rating {
      display: flex;
    }
    .product-rating-reviews {
      color: #4c12a1;
    }
    .product-price {
      border: 2px solid green;
    }
    .content {
      display: flex;
      align-items: center;
      color: #4c12a1;
      border: none;
      background: white;
    }
  }
}
.info {
  background: white;
  border: 1px solid #cdd8df;
  color: #213038;
  padding: 8px;
  margin: 10px 0;
  .info-offers {
    color: #e5006d;
  }
}

.product-description {
  display: flex;
  border: 2px solid blue;
}
.guaranteeText {
  padding: 2px 5px;
  font-size: 12px;
  background: #ebe6f4;
  border-left: 4px solid #4c12a1;
  border-radius: 3px;
  width: 170px;
}
.product-images {
  border: 2px solid rgb(240, 24, 60);
  margin-right: 30px;
  .badges {
    display: flex;
    justify-content: center;
    .badges-link {
      display: flex;
      align-items: center;
      padding: 5px;
    }
  }
}
