.product-summary-component {
  background: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 40px 15px 20px;
  transition: border 0.2s ease 0s;
  &.product-summary-component:hover {
    border: 1px solid #4c12a1;
  }
  // .sticker {
  //   position: absolute;
  //   border: 2px solid orangered;
  //   height: 60px;
  //   width: 60px;
  //   margin: 0;
  //   top: 0;
  //   left: 0;
  // }
  .product-summary {
    display: flex;
  }
  .product-summary-content {
    padding-left: 20px;
    .product-name-link {
      display: flex;
      color: #213038;
      margin: 0;
    }
    .product-title {
      flex-grow: 1;
      &:hover {
        text-decoration: underline;
      }
    }
    .column {
      padding: 10px 20px;
    }
  }
  // .product-images {
  //   border: 2px solid rgb(240, 24, 60);
  //   margin-right: 30px;
  //   .badges {
  //     display: flex;
  //     justify-content: center;
  //     .badges-link {
  //       display: flex;
  //       align-items: center;
  //       padding: 5px;
  //     }
  //   }
}

//Rating
.product-rating {
  display: flex;
  margin: 10px 0 10px;
}
.product-rating-reviews {
  color: #4c12a1;
}
