.product-summary-wrapper {
  background: #f2f2f2;
}
.product-summary-component {
  background: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  transition: border 0.2s ease 0s;
  &.product-summary-component:hover {
    border: 1px solid #4c12a1;
  }
  // .sticker {
  //   position: absolute;
  //   border: 2px solid orangered;
  //   height: 60px;
  //   width: 60px;
  //   margin: 0;
  //   top: 0;
  //   left: 0;
  // }
  .product-summary {
    display: flex;
  }
  // .product {
  //   display: flex;
  // }
  .product-name-link {
    color: #213038;
    margin: 0;
  }

  .product-name {
    width: 100%;
    padding-left: 60px;
    font-size: 13px;
    color: #213038;
  }

  .product-info {
    padding: 0 15px;
    h1 {
      font-size: 20px;
    }
    .img-guarantee {
      display: flex;
      justify-content: center;
    }
    .product-info-link {
      display: flex;
      align-items: center;
      color: black;
      font-size: 13px;
      margin: 0 0 10px;
    }
    .product-info-link:hover {
      color: #4c12a1;
      text-decoration: none;
    }
    .product-item-description {
      font-size: 13px;
      color: #222222;
      font-weight: 600;
      li {
        list-style: inside;
        margin: 0 0 8px;
      }
    }
    .product-rating {
      display: flex;
    }
    .product-rating-reviews {
      color: #4c12a1;
    }
    .content {
      display: flex;
      align-items: center;
      color: #4c12a1;
      border: none;
      background: white;
    }
  }
}

// .product-description {
//   display: flex;
//   border: 2px solid blue;
// }
.guaranteeText {
  padding: 2px 5px;
  font-size: 12px;
  background: #ebe6f4;
  border-left: 4px solid #4c12a1;
  border-radius: 3px;
  width: 170px;
}
.product-images {
  border: 2px solid rgb(240, 24, 60);
  margin-right: 30px;
  .badges {
    display: flex;
    justify-content: center;
    .badges-link {
      display: flex;
      align-items: center;
      padding: 5px;
    }
  }
}
