.active-filters-component {
  padding: $active-filters_padding 20px;
  .active-filters-content {
    display: flex;
    .active-filters-title {
      flex-grow: 1;
      font-weight: bold;
    }
    .active-filters-reset {
      margin: 0;
    }
  }
}
