.pricing-options-component {
  span {
    font-weight: bold;
    padding: 3px;
  }
  .pricing-options-list {
    padding: 16px 16px 16px 54px;
    border: 1px solid #cdd8df;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .pricing-options-list.selected {
    border: 2px solid #4c12a1;
    padding: 15px 15px 15px 53px;
  }
  input {
    display: none;
  }
}
