.menu-nav-tablet-component {
  background: white;
  display: flex;
  flex-grow: 1;
  @include desktop {
    display: none;
  }
  a {
    margin: 0 10px;
  }
  li {
    padding: 8px;
  }
  .menu-nav-tablet-content {
    @include mobile {
      width: 100%;
    }
    position: fixed;
    height: 100%;
    width: 85%;
    box-sizing: border-box;
    background: white;
    top: 0;
    right: 0;
    box-shadow: rgb(102 102 102 / 20%) 0px 3px 3px;
    transition: opacity 0.3s linear, right 0.5s ease-out;
    overflow-y: scroll;
    .menu-nav-tablet-close-button {
      border-bottom: 1px solid $menu-nav-tablet_border;
      padding: 16px 0;
      .close-icon {
        font-size: large;
      }
      button {
        display: flex;
        justify-content: end;
        background: white;
        width: 100%;
        border: none;
      }
    }
    .menu-nav-tablet-title {
      text-align: start;
      padding: 20px 0 20px 8px;
      font-weight: bold;
    }
    .menu-nav-tablet-list-options,
    .menu-nav-tablet-list-tech {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .menu-nav-tablet-list-tech {
      .list-tech {
        border-top: 1px solid $menu-nav-tablet_border;
      }
    }
    .list-tech,
    .list-options {
      display: flex;
      align-items: center;
    }
    .icon-wrapper {
      display: flex;
      i {
        display: flex;
        justify-content: center;
        width: 24px;
      }
    }
    .list-options-link,
    .list-tech-link {
      display: flex;
      flex-grow: 1;
      justify-content: flex-start;
    }
  }
  //helpLinks
  .help-links-component {
    background: $help-links-background;
    .help-links-content {
      display: flex;
      flex-direction: column;
    }
    .help-links-list {
      display: flex;
    }
  }
}
