.tabs-component {
  .tabs {
    margin: 0;
    a {
      color: #56707a;
    }
    .is-active a {
      border-bottom-color: #4c12a1;
      border-bottom-width: 3px;
      color: #4c12a1;
    }
  }
}
