.cart-component {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  .product-title {
    padding: 20px 0;
  }

  .cart-component-content {
    display: flex;
  }
  .cart-products {
    margin-right: 20px;
  }
}
