.filter-options-component {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  .select {
    font-size: 16px;
    padding-right: 5px;
  }
  .select-page {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .select-page::after {
    padding: 5px;
    content: "products per page";
  }
}
