.delivery-options-component {
  h1 {
    font-weight: bold;
    padding-bottom: $delivery-component_padding-bottom;
  }
  i{
    display: flex;
  }
  p {
    align-self: center;
  }
  a {
    display: block;
  }
}
