.delivery-component {
  padding: 15px;
  .delivery-location {
    padding: 8px 16px;
    border-radius: 6px;
    background: #faf5ff;
    font-size: 14px;
    color: #213038;
    margin-bottom: 10px;
    span {
      font-weight: bold;
      padding: 5px;
    }
  }
  .change-location-link {
    color: $anchor_text_primary;
    text-decoration: underline;
    padding: 10px 0;
  }
  .delivery-date {
    padding: 10px 0;
    p {
      font-weight: bold;
      margin-bottom: 5px;
    }
    input {
      border: 2px solid #4c12a1;
      border-radius: 5px;
      padding: 8px;
    }
  }
  ul {
    padding-top: 10px;
  }
  li {
    display: flex;
    text-align: left;
    p {
      text-align: left;
      padding: 5px;
    }
    .slot-label {
      flex-grow: 1;
    }
    .price {
      color: #e5006d;
    }
  }
}
