.filter-component {
  position: sticky;
  top: 24px;
  bottom: 24px;
  border-radius: $filter-component_radious;
  width: 400px;
  background: white;
  height: max-content;
  margin-right: 30px;

  .filter-box-component {
    padding: 10px 16px;
  }
  .filter-header {
    display: flex;
    padding: 10px;

    .title {
      flex-grow: 1;
      padding: 10px;
      border-bottom: 1px solid $filter-component_border-bottom;
    }
    a {
      text-decoration: underline;
    }
  }
  .filter-box-component {
    font-weight: bold;
    border-top: 1px solid $filter-component_border-top;
  }
  .filter-boxes {
    text-decoration: none;
    padding: 10px;
  }
}

//filterComp

.filter-comp-component {
  li {
    list-style-type: none;
  }
  .filter-items {
    display: inline-flex;
    align-items: center;
    a {
      font-weight: normal;
      color: $filter-comp_text;
      margin: 5px;
    }
  }
}
.rating-component {
  display: inline-block;
  width: 120px;
}
