.card-deal-wrapper {
  border: 1px solid goldenrod;
}
.card-deal-component {
  .card-deal-content {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
  }
  .card-deal-save-content {
    display: flex;

    .carousel {
      width: 100%;
    }
  }
  img {
    padding: 10px;
    border-radius: 20px;
  }
  .carousel {
    width: 100%;
    .carousel-initialized {
      .carousel-prev:before {
        display: none;
      }
      .carousel-next:before {
        background: url(https://currysprod.a.bigcontent.io/v1/static/icon-arrowright_1) no-repeat;
        content: "";
        display: block;
        height: 32px;
        width: 32px;
        background-color: #56707a;
        border-radius: 50%;
        background-position: 5px;
      }
    }
  }
}
