.product-price-component {
  // padding-left: 20px;

.cost-button {
  text-align: center;

  button {
    display: flex;
    align-items: center;
    border: none;
    color: #4c12a1;
    background: none;
    cursor: pointer;
    padding: 5px 0;
  }
}

//price status
.price-status {
  display: flex;
  flex-direction: column;
  .new-price {
    font-weight: bold;
    font-size: 20px;
    color: #222222;
  }
  .saved-money {
    font-weight: bold;
    font-size: 14px;
    color: #e5006d;
  }
}
}