.checkout-component {
  width: 300px;
  .payment-list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2px;
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    li {
      display: flex;
      align-items: center;
      p {
        margin-left: 5px;
      }
    }
  }
  .checkout-card-wrapper,
  .credit-card-wrapper {
    margin-bottom: 20px;
  }
  .checkout-card-wrapper {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .promotions {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #cdd8df;
    }
    .price-details {
      margin-bottom: 10px;
    }
    .button {
      width: 100%;
      padding: 20px 0;
    }
    .pay-with {
      p {
        padding: 20px 0;
        text-align: center;
      }
    }
  }
  .credit-card-wrapper {
    background: #e9eaeb;
  }
}
