.service-menu-wrapper {
  border: 1px solid greenyellow;
  border-top: 1px solid $serice-menu_border;
  background: #f2f2f2;
  padding: 8px 3%;
  .service-menu-content {
    display: flex;
    .service-menu-list {
      a {
        display: flex;
        align-items: stretch;
        img {
          width: 32px;
          height: 32px;
        }
        // i {
        //   margin: 1px 2px;
        // }
        p {
          text-align: left;
          margin-left: 10px;
          // padding: 5px 10px;
          font-weight: bold;
        }
      }
    }
  }
  .carousel {
    width: 100%;
    .carousel-initialized {
      .carousel-prev:before {
        display: none;
      }
      .carousel-next:before {
        background: url(https://currysprod.a.bigcontent.io/v1/static/icon-arrowright_1);
      }
    }
  }
}
