.service-menu-wrapper {
  border: 1px solid greenyellow;
  .service-menu-component {
    background: $service-menu_bg;
    padding: 0 30px;
  }
  .service-menu-content {
    display: flex;
    justify-content: space-around;
    .service-menu-list {
      display: flex;
      padding: 10px;
      a {
        display: flex;
        i {
          margin: 0 2px;
        }
      }
    }
  }
  .carousel {
    width: 100%;
    .carousel-initialized {
      @include desktop {
        display: none;
      }
      .carousel-prev:before {
        display: none;
      }
      .carousel-next:before {
        background: url(https://currysprod.a.bigcontent.io/v1/static/icon-arrowright_1);
      }
    }
  }
}
