.card-deal-wrapper {
  h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }
  .card-deal-component {
    .title {
      margin: 0;
      padding: 15px;
    }
    .card-deals,
    .card-offers {
      display: flex;
      flex-direction: column;
    }
    .card-deals {
      padding-bottom: 30px;

      // p {
      //   text-align: center;
      // }
      img {
        @include desktop {
          width: 200px;
          height: 200px;
        }
      }
      .card-deals-img-wrapper {
        .image {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .carousel {
      width: 100%;
    }
  }
  img {
    padding: 10px;
    border-radius: 20px;
  }
  .carousel {
    width: 100%;
    .carousel-initialized {
      .carousel-prev:before {
        display: none;
      }
      .carousel-next:before {
        background: url(https://currysprod.a.bigcontent.io/v1/static/icon-arrowright_1)
          no-repeat;
        content: "";
        display: block;
        height: 32px;
        width: 32px;
        background-color: #56707a;
        border-radius: 50%;
        background-position: 5px;
      }
    }
  }
}
