.header-tablet-search-wrapper {
  @include mobile {
    width: 100%;
    order: 3;
    padding: 5px;
  }
  @include tablet {
    width: 50%;
  }
}
.header-tablet-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    flex-wrap: nowrap;
  }
  @include widescreen {
    display: none;
  }
  .header-tablet-logo-wrapper {
    width: 16%;
    display: flex;
  }
  .header-tablet-icons-wrapper {
    display: flex;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 10px;
    }
  }
  // .header-tablet-search-wrapper {
  //   border: 1px solid brown;
  // }
}
