.gift-deal-component {
  .gift-deal-content {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
  }
  img {
    padding: 10px;
    border-radius: 20px;
    display: block;
  }
}
