.search-bar-component {
  border: 1px solid $search-bar_border;
  border-radius: $search-bar_border-radius;
  display: flex;
  flex-direction: column;
  @include mobile {
    width: 100%;
  }
  &:focus-within {
    border: 2px solid $search-bar_border__focus-within;
    border-radius: $search-bar_border-radius;
  }
  .field.has-addons {
    padding: $search-bar_padding;
    border-radius: $search-bar_border-radius;
    margin-bottom: 0;
    .control:first-child {
      flex-grow: 1;
    }
    .control {
      .button {
        &.is-primary {
          background: $button_background_primary;
          border-color: $button_border_primary;
          color: $button_text_primary;
          border-radius: $button_radious_primary;
          width: 38px;
          height: 38px;
          margin-left: 5px;
        }
      }
    }
  }
  .input {
    border: none;
    box-shadow: none;
    border-radius: $search-bar_border-radius;
  }
  .button.button-close {
    border: none;
    box-shadow: none;
  }
  .dropdown {
    position: relative;
    .dropdown-content {
      flex-direction: column;
      border: 1px solid $search-bar_border;
      width: 100%;
      position: absolute;
      box-shadow: rgb(33 48 56 / 20%) 0px 0px 6px 0px;
      border-radius: $search-bar_border-radius-dropdown;
      margin-top: 5px;
      z-index: 1;
    }
  }
}
.loading {
  position: absolute;
  top: 500px;
  right: 500px;
}
