.header-search-wrapper {
  width: 50%;
}
.header-component {
  border: 1px solid red;
  display: flex;
  @include until-widescreen {
    display: none;
  }
  .header-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
  }
  .header-content {
    border: 1px solid blue;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
  .header-menu-nav-wrapper {
    @include until-widescreen {
      display: none;
    }
  }
}

//LOGO
.header-logo-wrapper {
  border: 1px solid red;
}
//SEARCH BAR
.header-search-wrapper {
  border: 1px solid green;
  @include touch {
    width: 20%;
  }
}
//ICONS
.header-icons-wrapper {
  border: 1px solid orangered;
}
.header-menu-nav-wrapper {
  border: 1px solid purple;
}
