body {
  font-family: "currys";
}

.glyph {
  font-family: "dcg-icons";
  font-style: normal;
}

// .link-style-icon::before {
//   content: "\e61c";
//   font-size: 0.3em;
// }
.location-icon::before {
    content: "\e90c";
  }
  .account-icon::before {
    content: "\e90d";
  }
  .basket-icon::before {
    content: "\e90e";
  }
  .search-icon::before {
    content: "\e91D";
    // color: $search-icon_text;
  }