body {
  font-family: "currys";
}

.glyph {
  font-family: "dcg-icons";
  font-style: normal;
}

// .link-style-icon::before {
//   content: "\e61c";
//   font-size: 0.3em;
// }
.close-icon::before {
  content: "\e607";
  font-size: 1.5em;
  color: #ccc;
}
.location-icon::before {
  content: "\e90c";
}
.account-icon::before {
  content: "\e90d";
}
.basket-icon::before {
  content: "\e90e";
}
.search-icon::before {
  content: "\e91D";
}
.menu-icon::before {
  content: "\f0C9";
}
.deal-icon::before {
  content: "\e90a";
  font-size: 1.5em;
}

//card
.deal-icon::before {
  content: "\e91d";
  font-size: 1.5em;
}
.search-icon::before {
  content: "\f002";
  font-size: 1.5em;
  color: white;
}
.expand-menu-right-icon::before {
  content: "\f054";
  font-size: 1em;
  font-weight: lighter;
}

.washingmachine-icon::before {
  content: "\e901";
}
.tv-icon::before {
  content: "\e900";
}
.computing-icon::before {
  content: "\e902";
}
.games-icon::before {
  content: "\e903";
}

.cameras-icon::before {
  content: "\e904";
}
.phones-icon::before {
  content: "\e905";
}
.smarttech-icon::before {
  content: "\e906";
}
.home-icon::before {
  content: "\e907";
}
.cross-icon::before {
  content: "\e607";
}
.tick-icon::before {
  content: "\e60f";
  color: #255227;
}

.store-location-icon::before {
  content: "\e90c";
}

.tick-icon::before,
.cross-icon::before {
  font-size: 1.5em;
}

.carousel-next::before {
  content: "";
  background: url(https://currysprod.a.bigcontent.io/v1/static/icon-arrowright_1);
  background-color: #56707a;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-position: 5px;
}
.carousel-prev::before {
  content: "";
  display: none;
}

.washingmachine-icon,
.tv-icon,
.computing-icon,
.games-icon,
.cameras-icon,
.phones-icon,
.smarttech-icon,
.home-icon {
  font-size: large;
}
