.product-summary-wrapper {
  background: #f2f2f2;
  @include mobile {
    .product-summary-component {
      display: none;
    }
  }
  @include tablet {
    .product-summary-component-mobile {
      display: none;
    }
  }
}
