.saved-page-component {
  margin-bottom: 20px;
  .saved-items-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-top: 20px;
  }
  p:first-child {
    font-weight: bold;
  }
  .saved-page-items {
    .saved-items-count {
      padding: 20px;
      text-align: center;
    }
    .saved-page-content {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
