.color-variation-wrapper {
  padding: 0 20px;
}
.color-variation-component {
  display: flex;
  flex-direction: column;
  span {
    font-weight: bold;
  }
  ul {
    display: flex;
    padding-top: 12px;
  }
  .color-variation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    margin: 0 4px;
  }
  .color-variation-list.selected {
    border: 2px solid #4c12a1;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    p {
      font-weight: bold;
    }
  }
  img {
    border: 1px solid #cdd8df;
    border-radius: 50%;
  }
  input {
    display: none;
  }
}
