.saved-product-card {
  margin: 10px;
}
.saved-product-component {
  padding: 10px;
  .saved-product-image-link {
    display: flex;
    justify-content: center;
  }
  .image {
    padding: 10px;
    max-height: 170px;
    max-width: 192px;
  }
  .saved-product-title {
    margin: 15px;
    font-weight: inherit;
    height: 66px;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
  .product-price {
    font-weight: bold;
  }
  .button.is-outlined {
    width: 100%;
    margin: 10px 0;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    label {
      color: #4c12a1;
    }
    .button-remove {
      border: none;
      background: none;
      color: #4c12a1;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
