*,
:after,
:before {
  box-sizing: border-box;
}

html,
body,
.App,
#root {
  height: 100%;
}

body {
  font-size: 14px;
  background: $bg2;
}
li {
  list-style: none;
}
a {
  color: $anchor_text;
}

