*,
:after,
:before {
  box-sizing: border-box;
}

html,
body,
.App,
#root {
  height: 100%;
}

body {
  font-size: 14px;
  background: $bg2;
}
li {
  list-style: none;
}
a {
  color: $anchor_text;
}

.help-links-wrapper,
.header-wrapper,
.card-deal-wrapper,
.service-menu-wrapper,
.product-summary-wrapper {
  padding: 0 3%;
}
//change to 3%
.header-wrapper {
  .header-component,
  .header-tablet-component {
    margin: 16px 0;
    @include mobile {
      margin: 10px 0;
    }
  }
  .header-icons {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 10px;
    }
  }
}

.product-summary-wrapper {
  background: #f2f2f2;
  @include mobile {
    .product-summary-component {
      display: none;
    }
  }
  @include tablet {
    .product-summary-component-mobile {
      display: none;
    }
  }
}
