html,
body,
.App,
#root {
  height: 100%;
  box-sizing: border-box;
}
.App {
  overflow-y: scroll;

}
.hide-scroll {
  overflow-y: hidden;
}
.App-link {
  color: #61dafb;
}
.carousel {
  z-index: 0 !important;
}

