html,
body,
.App,
#root {
  height: 100%;
  box-sizing: border-box;
}
.App {
  overflow-y: scroll;
}
.hide-scroll {
  overflow-y: hidden;
}
.App-link {
  color: #61dafb;
}
.carousel {
  z-index: 0 !important;
}

.help-links-wrapper,
.header-wrapper,
.card-deal-wrapper,
.service-menu-wrapper,
.product-summary-wrapper {
  padding: 0 3%;
}

@include fullhd {
  .header-wrapper,
  .card-deal-wrapper {
    margin:0 15%;
  }
}
.header-wrapper {
  .header-component,
  .header-tablet-component {
    margin: 16px 0;
    @include mobile {
      margin: 10px 0;
    }
  }
  .header-icons {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 10px;
    }
  }
}