.cart-product-component {
  margin-bottom: 20px;
  .columns {
    padding: 30px 10px;
  }
  .cart-product-details {
    margin-bottom: 10px;
    .select{
      margin-left: 10px;
    }
  }
  .cart-product-details,
  .select-quantity {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .delivery-preferences {
    border: 1px solid #cdd8df;
    border-radius: 5px;
    p {
      margin-bottom: 20px;
    }
  }
  button {
    background: none;
    border: none;
    text-decoration: underline;
    color: $anchor_text_primary;
    margin: 0 10px;
  }
  .price-status {
    font-weight: bold;
  }
}
